<h1 *ngIf="isShown">Boss name: {{ userName }}</h1>
<button class="btn btn-danger" (click)="onToggle()">Toggle</button>
<hr />

<div class="radio">
  <label>
    <input type="radio" name="rdCheck" (click)="onChecked(true)" />
    Valid
  </label>
  <label>
    <input type="radio" name="rdCheck" (click)="onChecked(false)" />
    Invalid
  </label>
</div>
<!-- First way to display 
<h3 *ngIf="valueCheck">Valid</h3>
<h3 *ngIf="!valueCheck">Invalid</h3>
 -->

<!-- second way, using template From angular 4 -> we have else  -->
<h3 *ngIf="valueCheck; else elseBlock">Valid</h3>
<ng-template #elseBlock>
  <h3>Invalid</h3>
</ng-template>

<hr />

<div class="form-group">
  <label>Your Age Is Over 18?</label>
  <input type="text" class="form-control" [(ngModel)]="age" />
</div>
<!-- First way
<h3 *ngIf="age > 18; else leaveSite">Enter my site</h3>
<ng-template #leaveSite>
  <h3>Leave my site now, you are too young</h3>
</ng-template> 
-->

<!-- second way, not be executed by angular, we will use ng-container for ng-template  -->
<ng-container *ngIf="age > 18; else leaveSite">
  <h3>Enter my site</h3>
</ng-container>
<ng-template #leaveSite>
  <h3>Leave my site now, you are too young</h3>
</ng-template>

<hr />
<h2>ngFor Demo</h2>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of someCities">{{ item }}</li>
</ul>

<button class="btn btn-lg btn-warning" (click)="loadMoreData()">
  Fetch more from server
</button>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <!-- 
      Bring it inside tr tag to test
      [style.background-color]="st == true ? 'green' : 'white'"
      [style.background-color]="l == true ? 'red' : 'white'"
    -->
    <tr
      *ngFor="
        let product of products;
        let i = index;
        let st = first;
        let l = last;
        let o = odd;
        let e = even;
        trackBy: trackByID
      "
      [style.background-color]="o == true ? 'green' : 'red'"
      style="color: white"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td><img [src]="product.image" width="100" height="100" /></td>
    </tr>
  </tbody>
</table>
<hr />
<h2>ngSwitch Demo</h2>
<p>We write it with ngIF</p>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <span class="text-success" *ngIf="user.country == 'Vietnam'"
      >{{ user.name }} - {{ user.country }}</span
    >
    <span class="text-warning" *ngIf="user.country == 'Thailande'"
      >{{ user.name }} - {{ user.country }}</span
    >
    <span class="text-danger" *ngIf="user.country == 'Laos'"
      >{{ user.name }} - {{ user.country }}</span
    >
    <span
      class="text-default"
      *ngIf="
        user.country !== 'Thailande' &&
        user.country !== 'Laos' &&
        user.country !== 'Vietnam'
      "
      >{{ user.name }} - {{ user.country }}</span
    >
  </li>
</ul>

<p>And now, we use ngSwitch</p>
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let user of users"
    [ngSwitch]="user.country"
  >
    <span *ngSwitchCase="'Vietnam'" class="text-success"
      >{{ user.name }} - {{ user.country }}</span
    >
    <span *ngSwitchCase="'Thailande'" class="text-warning"
      >{{ user.name }} - {{ user.country }}</span
    >
    <span *ngSwitchCase="'Laos'" class="text-danger"
      >{{ user.name }} - {{ user.country }}</span
    >
    <span *ngSwitchDefault>{{ user.name }} - {{ user.country }}</span>
  </li>
</ul>
