<h3>Using class binding</h3>
<p [class.pd-10]="true" [class.cl-red]="true" [class.bd-green]="true">
  Test Result
</p>

<h3>Using ngClass</h3>
<p [ngClass]="['pd-10', 'cl-red', 'bd-green']">
  Test Result
</p>

<!-- 
  <p class="lead">isSpecial variable status: {{ isSpecial }}</p>
<h3>Using ngClass with checking condition</h3>
<p [ngClass]="{ 'bd-green': isSpecial, 'pd-10': isSpecial }">
  Test Result
</p>
<button class="btn btn-warning" (click)="onToggle()">Toggle</button> 
-->

<h3>Writing in typescipt file</h3>
<p class="lead">isSpecial variable status: {{ isSpecial }}</p>
<p [ngClass]="setClasses()">
  Test Result
</p>
<button class="btn btn-warning" (click)="onToggle()">Toggle</button>
