<h1 class="text-center">Lesson 03 - Directive - App Component</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-info">
        <div class="panel panel-heading">
          <h3>Structural Directive</h3>
        </div>
        <div class="panel-body">
          <app-structural></app-structural>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-info">
        <div class="panel panel-heading">
          <h3>Attribute Directive</h3>
        </div>
        <div class="panel-body">
          <app-attribute></app-attribute>
        </div>
      </div>
    </div>
  </div>
</div>
